    <footer class="footer-wrap style2">
        <div class="footer-top">
            <div class="container-fluid" style="padding:0">
                <div class="container">
                    <div class="blue-img"> <img  src="./image/catalog/images/all.png" alt=""></div>                 
                    <div class="row">
                        <div class="col-md-12 d-flex">
                            <div class="col-md-6">
                                <div class="col-md-12 d-flex p-0">
                                    <div class="col-md-6">
                                        <div class="footer-widget">
                                            <h5 class="footer-widget-title  sm-title">
                                                Onze producten
                                            </h5>
                                            <ul class="footer-menu  list-style">
                                            {% for category in categories|slice(0,5) %}
                                                <li><i class="fa fa-angle-right"></i><a href="{{ category.href }}">{{ category.name }}</a></li>
                                            {% endfor %}
                                            
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="footer-widget ">
                                            <h5 class="footer-widget-title sm-title">
                                                Zakelijk diensten
                                            </h5>
                                            <ul class="footer-menu list-style">
                                                <li><i class="fa fa-angle-right"></i><a href="#">Producten</a></li> <br>
                                                <li><i class="fa fa-angle-right"></i><a href="#">Online Werkplek</a></li>
                                                <li><i class="fa fa-angle-right"></i><a href="#">Telecom & Internet</a> <br>
                                                </li>
                                                <li><i class="fa fa-angle-right"></i><a href="#">ICT & beveiliging</a></li>
                                                <br>
                                                <li><i class="fa fa-angle-right"></i><a href="#">Websites</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-12 d-flex p-0">
                                    <div class="col-md-6">
                                        <div class="footer-widget ">
                                            <h5 class="footer-widget-title sm-title">
                                                Bereikbaarheid
                                            </h5>
                                            <ul class="footer-menu list-style">
                                                <li >De Mors 33, 7631 AH Ootmarsum</li>
                                                <li style="display: flex;justify-content:space-between;"> <span> Maandag </span><span>08.30 - 17:30 uur</span></li> 
                                                <li style="display: flex;justify-content:space-between;"><span>Dinsdag</span> <span>08.30 - 17:30 uur</span></li>
                                                <li style="display: flex;justify-content:space-between;"><span>Woensdag</span><span>08.30 - 17:30 uur</span></li>
                                                <li style="display: flex;justify-content:space-between;"><span>Donderdag</span><span>08.30 - 17:30 uur</span></li>
                                                <li style="display: flex;justify-content:space-between;"><span>Vrijdag</span><span>08.30 - 17:30 uur</span></li>
                                                <li style="display: flex;justify-content:space-between;"><span>Zaterdag</span><span>09.00 - 15:00 uur</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="human-img">
                                            <img src="./image/catalog/images/hfff.png" alt="footer-img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-12 text-center">
                        <ul class="copyright">
                            <li><a href="#">Over Bizzsite</a></li>
                            <li><a href="#">Algemene voorwaarden</a></li>
                            <li><a href="#">Privacy verklaring</a></li>
                            <li><a href="#">Zakeliijk bestellen</a></li>
                            <li><a href="#">Vacatures</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                        <a class="last-text" href="#">#wijleverenmooiwerk</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
	<link rel="stylesheet" type="text/css" href="./image/catalog/css/carousel.css">
	<link rel="stylesheet" type="text/css" href="./image/catalog/css/style.css">	
  <link rel="stylesheet" type="text/css" href="./image/catalog/css/carousel.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&amp;display=swap" rel="stylesheet">
	<script src="./image/catalog/js/jquery.min.js"></script>
  <script src="./image/catalog/js/popper.min.js"></script>
  <script src="./image/catalog/js/bootstrap.min.js"></script>
  <script src="./image/catalog/js/owl.carousel.min.js"></script>
  <script src="./image/catalog/js/slider-one.js"></script>
</body></html>   